.text {
  display: flex;
  width: 400px;
  height: 150px;
  justify-content: space-around;
  flex-direction: column;
  background: rgba(235, 235, 235, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  padding: 10px;
}

.display {
  display: block;
}